@font-size-main: 15px;
@font-size-secondary: 13px;
@font-size-h2: 25px;

@line-height-main: 30px;

@color-main: #444444;
@color-secondary: #000000;

@btn-color: #ffffff;
@btn-color-secondary: #63d1bb;

@bg-color-main: #ffffff;
@bg-color-secondary: #f1f1f1;
