@font-size-main: 15px;
@font-size-secondary: 13px;
@font-size-tertiary: 17px;
@font-size-quaternary: 19px;
@font-size-page-title: 27px;
@h2-font-size: 25px;

@line-height-main: 30px;
@line-height-secondary: 24px;
@line-height-tertiary: 20px;
@line-height-quaternary: 18px;

@font-size-main-m: 17px;
@font-size-secondary-m: 15px;
@font-size-tertiary-m: 20px;
@font-size-page-title-m: 43px;
@h2-font-size-m: 43px;
@h2-font-size-l: 53px;

@line-height-main-m: 50px;
@line-height-main-l: 57px;
@line-height-secondary-m: 22px;


@color-main: #444444;
@color-secondary: #000000;
@color-tertiary: #ffffff;
@color-green: #63d1bb;

@btn-color: #ffffff;
@btn-color-secondary: #63d1bb;
@btn-color-tertiary: #56c3b2;

@btn-color-hover-main: #59d5bc;
@btn-color-hover-secondary: #46c1ae;

@bg-color-main: #ffffff;
@bg-color-secondary: #f1f1f1;
@bg-color-tertiary: #000000;

@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1150px)";
@mobile-widths-only: ~"(max-width: 767px)";
@retina: ~"(min-resolution: 144dpi)", ~"(min-resolution: 1.5dppx)";
