.about {
  margin-top: 30px;
  color: @color-main;
  font-size: @font-size-tertiary;
  line-height: @line-height-secondary;
  font-weight: 700;
}

.about__wrapper {
  width: 260px;
  margin: 0 auto;
  padding: 0 30px;
}

.about__title {
  margin: 0;
  margin-bottom: 25px;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  height: 715px;
  list-style: none;
}

.about__item {
  padding-top: 60px;
}

@media @tablet-width {
  .about__wrapper {

    width: 668px;
    padding: 0 50px;
  }

  .about__title {
    margin-bottom: 40px;
    font-size: @font-size-h2-m;
    line-height: @line-height-main-m;
  }

  .about__list {
    flex-direction: column;
    justify-content: space-between;
    height: 415px;
    font-size: @font-size-tertiary-m;
    line-height: @line-height-secondary-m;
    height: 415px;
    font-size: 20px;
    line-height: 22px;
  }

  .about__item {
    width: 305px;
  }

}

@media @desktop-width {
  .about__wrapper {
    width: 700px;
    padding: 0 225px;
  }

  .about__list {
    justify-content: space-between;
  }

  .about__title {
    font-size: @font-size-h2-l;
    line-height: @line-height-main-l;
  }
}
