.btn {
  display: inline-block;
  height: 52px;
  vertical-align: top;
  text-align: center;
  box-sizing: border-box;
  padding: 15px 0;

  color: @color-main;
  font-size: @font-size-tertiary;
  line-height: @line-height-secondary;
  font-weight: 700;

  border: 2px solid black;

  text-transform: uppercase;
  text-decoration: none;
}

.btn--secondary {
  color: white;
  border: none;
  background-color: #46c1ae;
  cursor: pointer;
}
