.catalog-video {
  position: relative;
  
  margin-bottom: 30px;

  color: @color-main;
  font-size: @font-size-secondary;
  line-height: @line-height-secondary;
}

.catalog-video__title {
  margin: 0;
  padding: 25px 40px 25px 90px;
  
  font-size: @font-size-tertiary;
  line-height: @line-height-secondary;
}

.catalog-video__video {
  position: relative;
  height: 150px;
}

.catalog-video__desc {
  padding: 30px;
  margin: 0;

  line-height: @line-height-secondary;
}

.catalog-video__play-btn {
  position: absolute;
  top: 135px;
  left: 50%;
  transform: translateX(-50%);
}

.catalog__btn {
  width: 190px;
}

@media @tablet-width {
  .catalog-video {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: column;
    flex-grow: 1;
  }

  .catalog-video__title {
    padding-bottom: 0;
    font-size: 20px;
  }

  .catalog-video__video {
    order: -1;
    width: 100%;
    height: 455px;
  }
  
  .catalog__btn {
    width: 100%;
  }
}

@media @desktop-width {
  .catalog-video {
    display: block;
  }
  
  .catalog-video__video {
    float: left;
    width: 680px;
}
  
  .catalog-video__title,
  .catalog-video__desc,
  .catalog__btn {
    float: right;
    width: 368px; 
}
  
  .catalog__btn {
    width: 230px;
    margin: 0;
  }
}