.catalog-video {
  font-size: @font-size-secondary;
  line-height: @line-height-secondary;
  color: @color-main;
  margin-bottom: 30px;
}

.catalog-video__wrapper {
  
  width: 260px;
  margin: 0 auto;
  padding: 0 30px;
  
}

.catalog-video__container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;

}

.catalog-video__title {
  margin: 0;
  padding-left: 90px;
}

.catalog-video__video {
  position: relative;
}

.catalog-video__desc {
  margin: 0;
}

.catalog-video__play-btn {
  position: absolute;
}