.catalog-item {
  margin-bottom: 30px;
  border: 1px solid rgba(230, 230, 230, 1);
}

.catalog-item__info {
  padding: 25px;
}

.catalog-item__title {
  margin: 0;

  font-size: @font-size-tertiary;
  line-height: @line-height-secondary;
  font-weight: 700;
}

.catalog-item__link {
  color: #000000;

  text-decoration: none;
  cursor: pointer;

  &:hover {
  opacity: 0.6;
  }

  &:active {
  opacity: 0.3;
  }
}

.catalog-item__desc {
  display: block;
  padding-bottom: 25px;

  font-size: @font-size-secondary;
  line-height: @line-height-main;
}

.catalog-item__buy {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;

  border-top: 1px solid rgba(230, 230, 230, 1);
}

.catalog-item__price {
  font-size: @font-size-main;
  line-height: @line-height-secondary;
  font-weight: 700;
}

.catalog-item__icon {
  fill: rgba(68, 68, 68, 0.6);
  cursor: pointer;

  &:hover {
  fill: #a8e5d9;
  }

  &:active {
  opacity: 0.3;
  }
}

@media @tablet-width {
  .catalog-item {
    display: flex;
    margin-bottom: 50px;

    &:hover {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
      transition: all 0.2s;
    }

    &:active {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
      transition: all 0.2s;
    }
  }

  .catalog-item__photo {
    height: 334px;
  }

  .catalog-item__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .catalog-item__desc {
    font-size: @font-size-main;
  }

  .catalog-item__buy {
    display: flex;
    justify-content: space-between;

    margin-top: auto;
  }

  .catalog-item__price {
    font-size: @font-size-tertiary;
  }
}

@media @desktop-width {
  .catalog-item {
    flex-direction: column;
    width: 318px;
    margin-bottom: 60px;
  }

  .catalog-item__photo {
    height: 465px;
  }
}
