.contacts {
  margin: 40px 0;
  
  color: @color-main;

  font-size: @font-size-main;
  line-height: @line-height-main;
}

.contacts__wrapper {
  width: 320px;
  margin: 0 auto;
}

.contacts__text-wrapper {
  margin-bottom: 40px;
  padding: 0 30px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 35px;
  
  font-size: @font-size-tertiary;
  line-height: @line-height-main;
}

.contacts__btn-wrapper {
  order: 2;
  width: 320px;
  padding: 0 30px;
}

.contacts__btn {
  width: 100%
}
.contacts__map-wrapper {
  width: 320px;
  margin: 0 auto 40px;
}
.contacts__map {
  width: 100%;
  height: 460px;
}

@media @tablet-width {
  .contacts {
    margin: 70px 0 55px;
  }
  
  .contacts__wrapper {
    flex-direction: column;
    width: 768px;
  }

  .contacts__text-wrapper {
    width: 768px;
    padding: 0 50px;
  }

  .contacts__title {
    font-size: @h2-font-size-m;
    line-height: @line-height-main-m;
  }

  .contacts__btn-wrapper {
    align-self: center;
    width: 230px;
    margin: 0 auto;
    padding: 0;   
  }
  .contacts__map-wrapper {
    width: 768px;
  }
}

@media @desktop-width {
  .contacts__wrapper {
    position: relative;
    
    display: flex;
    flex-wrap: wrap;
    
    width: 1050px;
    padding: 0 50px;
  }

  .contacts__text-wrapper {
    order: -1;
    width: 50%;
    margin-bottom: 0;
    padding: 75px 50px 0 175px;
  }

  .contacts__title {
    font-size: @h2-font-size-l;
    line-height: @line-height-main-l;
  }

  .contacts__btn-wrapper {
    position: absolute;
    bottom: 0;
    left: 225px;
  }

  .contacts__map-wrapper {
    order: 2;
    margin: 0;
    width: 50%;
  }
}
