.field-checkbox {
  margin-bottom: 25px;

  color: @color-secondary;

  font-size: @font-size-tertiary;
  font-weight: 700;
}

.field-checkbox__title {
  position: relative;
  margin-bottom: 20px;

  color: #62d1ba;

  text-transform: uppercase;
}

.field-checkbox__title::before {
  position: absolute;
  left: 60px;
  top: 15px;
  content: '';
  border: 1px solid #62d1ba;
  width: 198px;
}

.field-checkbox__items {
  display: flex;
  flex-direction: column;
}

.field-checkbox__input {
  display: none;
}

.field-checkbox__item  {
  position: relative;
  height: 38px;
  margin-bottom: 22px;
}

.field-checkbox__text::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 38px;
  height: 38px;
  border: 2px solid #444444;
}

.field-checkbox__text {
  cursor: pointer;
  padding-left: 60px;

  &:hover::before {
    border-color: #62d1ba;
  }

  &:active::before {
    border-color: rgba(68, 68, 68, 0.3);
  }
}

.field-checkbox__indicator {
  content: '';
  position: absolute;
  top: 6px;
  left: 7px;
  display: none;
  fill: #444444;
}

.field-checkbox__input:checked ~ .field-checkbox__indicator {
  display: block;
}

@media @tablet-width {
  .field-checkbox {
    display: flex;
    align-items: baseline;
    margin-bottom: 0;
  }

  .field-checkbox__items {
    flex-wrap: wrap;
    flex-direction: row;
    width: 500px;
  }

  .field-checkbox__item {
    flex-basis: 50%;
  }

  .field-checkbox__title {
    width: 165px;
  }

  .field-checkbox__title::before {
    display: none;
  }

  .field-checkbox__text {
    padding-left: 80px;
    font-size: @font-size-quaternary;
  }
}

@media @desktop-width {
  .field-checkbox__items {
    width: 700px;
  }

  .field-checkbox__title {
    width: 115px;
  }

  .field-checkbox__item {
    flex-basis: 33%;
  }
}
