.field-checkbox {
  margin-bottom: 25px;

  color: @color-secondary;

  font-size: @font-size-tertiary;
  font-weight: 700;
}

.field-checkbox__title {
  position: relative;
  margin-bottom: 20px;

  color: #62d1ba;

  text-transform: uppercase;
}

.field-checkbox__title::before {
  position: absolute;
  left: 60px;
  top: 15px;
  content: "";
  border: 1px solid red;
  width: 198px;
}

.field-checkbox__items {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.field-checkbox__input {
  display: none;
}

.field-checkbox__item  {
  position: relative;
  cursor: pointer;
  height: 38px;
  margin-bottom: 22px;
}

.field-checkbox__item::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -60px;
  width: 38px;
  height: 38px;
  cursor: pointer;
  border: 2px solid #a6a6a6;
}

.field-checkbox__indicator {
  content: '';
  position: absolute;
  top: 6px;
  left: -51px;
  display: none;
  fill: #a6a6a6;
}

.field-checkbox__input:checked ~ .field-checkbox__indicator {
  display: block;
}

@media @tablet-width {
  .field-checkbox {
    display: flex;
    align-items: baseline;
  }

  .field-checkbox__items {
    width: 500px;
  }

  .field-checkbox__items {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .field-checkbox__item {
    flex-basis: 220px;
  }

  .field-checkbox__title {
    width: 165px;
  }

  .field-checkbox__title::before {
    display: none;
  }

  .field-checkbox__text {
    font-size: @font-size-quaternary;
  }
}

@media @desktop-width {
  .field-checkbox__items {
    width: 700px;
  }

  .field-checkbox__title {
    width: 115px;
  }
}
