.field-radio {
  margin-bottom: 25px;

  color: @color-secondary;

  font-size: @font-size-tertiary;
  font-weight: 700;
}

.field-radio__title {
  position: relative;

  margin-bottom: 20px;

  color: #62d1ba;
  text-transform: uppercase;
}

.field-radio__title::before {
  position: absolute;
  left: 60px;
  top: 15px;
  content: "";
  border: 1px solid red;
  width: 198px;
}

.field-radio__items {
  position: relative;

  display: flex;
  flex-wrap: wrap;
}

.field-radio__input {
  display: none;
}

.field-radio__text {
  font-size: @font-size-tertiary;
  line-height: @line-height-quaternary;
}

.field-radio__item {
  margin-bottom: 15px;
  padding-left: 60px;
}

.field-radio__item::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 2px solid red;
  border-radius: 50%;
}

@media @tablet-width {
  .field-radio {
    display: flex;
  }

  .field-radio__items {
    width: 500px;
  }

  .field-radio__item {
    padding-left: 80px;
  }

  .field-radio__title {
    width: 165px;
  }

  .field-radio__title::before {
    display: none;
  }

  .field-radio__text {
    font-size: 19px;
  }
}

@media @desktop-width {
  .field-radio__items {
    flex-direction: column;
    width: 700px;
  }

  .field-radio__title {
    width: 115px;
  }
}
