.field-checkbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: @font-size-tertiary;
  color: @color-secondary;
  font-weight: 700;
}


.field-checkbox__title {
  text-transform: uppercase;
  color: #62d1ba;
}

.field-checkbox__items {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}

.field-checkbox__input {
  display: none;
}