.main-nav {
  position: relative;

  width: 320px;
  margin: 0 auto;

  color: @color-secondary;
  font-size: @font-size-tertiary;
  line-height: @line-height-secondary;
  font-weight: 700;

  background-color: @bg-color-main;
}

.main-nav__toggle {
  position: absolute;
  top: -79px;
  right: 0;
  z-index: 2;

  display: block;
  width: 79px;
  height: 79px;

  font-size: 0;

  background-color: @bg-color-main;
  cursor: pointer;

  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 29px;
  right: 31px;

  width: 20px;
  height: 2px;

  background-color: @bg-color-tertiary;
  box-shadow: 0 6px 0 0 @color-secondary,
              0 12px 0 0 @color-secondary;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.3), 0 10px 0 0 rgba(0, 0, 0, 0.3);
}

.main-nav--opened .main-nav__toggle {
  top: -79px;
  right: 0;
  z-index: 2;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 38px;
    right: 27px;
    width: 26px;
    height: 2px;
    background-color: @bg-color-tertiary;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list,
.main-nav__user {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  display: block;
  padding: 27px 76px;
  padding-right: 0;

  color: @color-secondary;
  font-size: 17px;
  line-height: 24px;

  background-color: @bg-color-main;
  border-top: 1px solid @color-main;

  text-decoration: none;

  &:hover {
  }

  &:active {
  }
}

.main-nav__item--hidden {
  display: none;

  font-size: 15px;
}

.main-nav__user-link {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;

    width: 20px;
    height: 20px;

    background-color: red;
    /* background-image: url("../img/icon-search.svg"); */
    /* background-position: -10px -82px; */
    /* opacity: 0.3; */
  }
}

@media @mobile-widths-only {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--closed .main-nav__user {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    z-index: 10;

    width: 320px;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    height: auto;
  }
}

@media @tablet-width {
  .main-nav {
    width: 100%;
    background-color: transparent;
  }

  .main-nav__wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__user,
  .main-nav__list {
    display: flex;
  }

  .main-nav__user {
    justify-content: flex-end;
    height: 89px;
  }

  .main-nav__user-item  {
    border-left: 1px solid black;
  }

  .main-nav__link {
    padding-top: 33px;
    padding-bottom: 33px;

    border-bottom: none;
    background-color: transparent;
    border-top: none;
  }
  .main-nav__list .main-nav__link {
    margin-top: 25px;
    margin-right: 35px;
    padding: 0;

    font-size: 15px;
  }

  .main-nav__link--search {
    font-size: 0;
  }
}

@media @desktop-width {
  .main-nav__wrapper {
    flex-direction: row;
  }

  .main-nav__list,
  .main-nav__user {
    width: 50%;
  }
  .main-nav__list {
    flex-wrap: wrap;
  }

  .main-nav__item {
    width: 50%;
  }

  .main-nav__list  .main-nav__link {
    margin-right: 0;

    font-size: 17px;
  }
  .main-nav__item--hidden  {
    display: block;
  }

  .main-nav__item--shown .main-nav__link {
    margin-top: 0;
    padding: 35px 0;
  }

  .main-nav__item--hidden .main-nav__link {
    font-size: 15px;
  }
}
