.page-header {
  position: relative;
  min-height: 79px;

  background-color: @bg-color-main;
}

.page-header__wrapper {
  width: 320px;
  margin: 0 auto;

  border-bottom: 1px solid @color-main;
}

@media @tablet-width {
  .page-header {
    max-height: 88px;
  }

  .page-header__wrapper {
    width: 768px;
    height: 89px;
    padding: 0 50px;
  }
}

@media @desktop-width {
  .page-header__wrapper {
    width: 1150px;
    padding: 0 50px;
  }
}
