.page-title {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 75px 0;
  font-size: @font-size-h2;
  background-color: @bg-color-secondary;
  color: @color-secondary;
  text-align: center;
}

@media @tablet-width {
  .page-title {
    padding-top: 100px;
    font-size: @font-size-h2-m;
    line-height: @line-height-main-m;
    margin-bottom: 75px;
  }
}

@media @desktop-width {
  .page-title {
    padding-top: 100px 0;
    font-size: @font-size-h2-l;
    line-height: @line-height-main-l;
  }
}
