.page-header {
  position: relative;
  min-height: 79px;

  background-color: @bg-color-main;
  border-bottom: 1px solid rgba(68, 68, 68, 0.3);
}

.page-header__wrapper {
  width: 320px;
  margin: 0 auto;
}

@media @tablet-width {
  .page-header__wrapper {
    width: 768px;
    height: 89px;
    padding: 0 50px;
  }
}

@media @desktop-width {
  .page-header__wrapper {
    width: 1150px;
    padding: 0 50px;
  }
}
