.page-title {
  width: 240px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 75px 40px;
  font-size: @font-size-h2;
  background-color: @bg-color-secondary;
  color: @color-secondary;
  text-align: center;
}
