.page-footer {
  background-color: @bg-color-secondary;
  font-size: @font-size-quaternary;
  line-height: @line-height-quaternary;
  font-weight: 700;
}

.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 23px 30px;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  padding-bottom: 25px;
  border-bottom: 1px solid red;
  font-size: 0;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding-top: 25px;
}

@media @tablet-width {
  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 768px;
    height: auto;
    padding: 50px 0;
  }

  .page-footer__logo {
    display: flex;
    align-self: flex-start;
    width: 185px;
    height: 45px;
  }

  .page-footer__copyright {
    align-self: center;
    justify-content: space-between;
    width: 185px;
    padding: 0;
  }
  
  .page-footer__social {
    align-items: center;
    margin: 0 auto;
    padding: 0;
    
    border: none;
  }
}

@media @desktop-width {
  .page-footer__wrapper {
    width: 1150px;
    padding: 50px;
  }
}
