.reviews {
  margin-top: 45px;

  color: @color-main;
  font-size: @font-size-main;
  line-height: @line-height-main;
}

.reviews__wrapper {
  width: 260px;
  margin: 0 auto;
  padding: 0 30px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 25px;
}

.reviews__item {
  margin: 0;
}

.reviews__author-name {
  display: block;
  margin-top: 35px;

  font-weight: 700;
}

.reviews__author-name,
.reviews__author-link {
  font-style: normal;
}

.reviews__btn {
  width: 100%;
  margin-top: 35px;
}

.btn--prev,
.btn--next {
  width: 50%;

  font-size: 0;
  cursor: pointer;
}

@media @tablet-width {
  .reviews__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 668px;
    padding: 0 50px;
  }

  .reviews__btn {
    order: 0;
  }

  .reviews__btn {
    order: -1;
    margin: 0;
    margin-left: auto;
    width: 175px;
  }

  .reviews__title {
    font-size: @h2-font-size-m;
     order: -1;
  }
}

@media @desktop-width {
  .reviews__wrapper {
    width: 877px;
    padding: 0 50px 0 230px;
  }
}
