.reviews {
  margin-bottom: 45px;

  color: @color-main;
  font-size: @font-size-main;
  line-height: @line-height-main;
}

.reviews__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 25px;
}

.reviews__slider-wrapper {
  margin-bottom: 35px;
}

.reviews__btn-wrapper {
  margin-bottom: 40px;
  word-spacing: -4px;
}

.reviews__item {
  margin: 0;
}

.reviews__author-name {
  display: block;

  font-weight: 700;
}

.reviews__author-name,
.reviews__author-link {
  font-style: normal;
}

.reviews__btn {
  width: 100%;
}

.btn--prev,
.btn--next {
  width: 50%;

  font-size: 0;
  cursor: pointer;
}

@media @tablet-width {
  .reviews {
    margin-bottom: 70px;
  }

  .reviews__wrapper {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    width: 768px;
    padding: 0 50px;
    padding-top: 75px;
    background-image: url('../img/review@1x.jpg');
    background-repeat: no-repeat;
  }

  .reviews__btn {
    order: -1;
    margin: 0;
    margin-left: auto;
    width: 175px;
  }

  .reviews__title {
    order: -1;
    margin-bottom: 50px;

    font-size: @h2-font-size-m;
    line-height: @line-height-main-m;
  }

  .reviews__btn-wrapper {
    position: absolute;
    bottom: 52px;
    right: 50px;

    width: 175px;
    margin-bottom: 0;
  }

  .reviews__text {
    font-size: @font-size-main-m;
  }

  @media @retina {
    .reviews_wrapper {
      background-image: url('../img/review@2x.jpg');
      background-size: 350px auto;
    }
  }
}

@media @desktop-width {
  .reviews__wrapper {
    width: 1150px;
    padding: 0 50px 0 175px;
  }

  .reviews__slider-wrapper {
    width: 780px;
  }
}
