.table {
  width: 100%;
  
  font-size: @font-size-main;
  line-height: @line-height-tertiary;
  border-collapse: collapse;
}

.table__row {
  border-bottom: 1px solid @color-main;
}

.table__col {
  padding: 10px 0;
}

